/*footer*/
footer{
    background-color: gray;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: gray;
    border:none;
    text-align: center;
    font-weight: bold;
}
  
  .list-group-mine .list-group-item:hover {
    /* background-color: red!important; */
    color: rgb(255, 255, 255);
  }

  .fav :hover{
      color: rgb(255, 255, 255);
  }


.line{
      display: block;
      border-bottom: rgb(83, 81, 81) solid 3px;
      width: 40%;
      height: 50%;
      margin-left: 100px;
      margin-right: 100px;
  } 